h2 Edit Widget
div
	label(for='title') Title:
	input(ng-model='form.title', name='title')
div
	label(for='text') Value:
	input(ng-model='form.text', name='value', type='number')
div
	label(for='unit') Unit:
	input(ng-model='form.unit', name='unit')
div
	label(for='alarm') Alarm:
	input(ng-model='form.alarm', name='alarm')
div
	label(for='notes') Notes:
	input(ng-model='form.notes', name='notes')
p
	button(ng-click='editPost()') Edit Post