//- p There are {{posts.length}} widgets
ul.list-item
	li.item(ng-repeat='masterPost in masterPosts')
		div.widgetContent
			div.itemOptions
				a.smallButton(href='project/innerDashboard/') More
				| 
				a.smallButton(href='project/editPost/{{masterPost.id}}') Edit
				| 
				a.smallButton(href='project/deletePost/{{masterPost.id}}') Delete
			h3.widgetTitle {{masterPost.title}}
			div.line
				div.line-item.value {{masterPost.text}}
				div.line-item.unit {{masterPost.unit}}
			div.semaphoreChart.semaphoreChartSmall
				svg(width="75px", height="30px")
					path(d="M 1 1 L 74 1 L 74 29 L 1 29 L 1 1", 
					    stroke="rgba(170, 170, 51, 0.5)", fill="#ee9", 
					    stroke-width="1")
					circle(style='stroke-width:5;stroke:rgba({{masterPost.colorRGB1}},0.25)', cx="20", cy="15", r="10", fill="{{masterPost.color1}}")
					circle(style='stroke-width:5;stroke:rgba({{masterPost.colorRGB2}},0.25)', cx="55", cy="15", r="10", fill="{{masterPost.color2}}")
	li.item(ng-repeat='postOverview in postsOverview')
		div.widgetContent
			div.itemOptions
				a.smallButton(href='project/innerDashboard/') More
				| 
				a.smallButton(href='project/editPost/{{postOverview.id}}') Edit
				| 
				a.smallButton(href='project/deletePost/{{postOverview.id}}') Delete
			h3.widgetTitle {{postOverview.title}}
			div.line
				div.line-item.value {{postOverview.text}}
				div.line-item.unit {{postOverview.unit}}
			//- div.bottomRow(style='margin-top:30px;')
			//- 	div(class='yes')
			//- 		a.smallButton(href='project/readPost/{{post.id}}')
			//- 			img(src='img/alarm.png')
			//- 	div(class='yes')
			//- 		a.smallButton(href='project/readPost/{{post.id}}')
			//- 			img(src='img/note.png')
			div.bottomRow(style='margin-top:30px;')
				div(class='{{postOverview.alarm}}')
					a.smallButton(href='project/readPost/{{postOverview.id}}')
						img(src='img/alarm.png')
				div(class='{{postOverview.notes}}')
					a.smallButton(href='project/readPost/{{postOverview.id}}')
						img(src='img/note.png')
	li.item(ng-controller='CalendarCtrl')
		div.widgetContent
			div.itemOptions
				a.smallButton(href='project/activitiesDashboard/') More
				| 
				a.smallButton(href='project/editPost/{{masterPost.id}}') Edit
				| 
				a.smallButton(href='project/deletePost/{{masterPost.id}}') Delete
			//- h3.widgetTitle Next Activity
			h3.widgetTitle {{nextActivity.name}}
			div.line
				div.line-item.value {{nextActivity.day}}
				div.line-item.unit {{nextActivity.month}} {{nextActivity.year}}
			div.bottomRow(style='margin-top:30px;')
				div(class='yes')
					a.smallButton(href='project/readPost/{{post.id}}')
						img(src='img/alarm.png')
				div(class='yes')
					a.smallButton(href='project/readPost/{{post.id}}')
						img(src='img/note.png')
	//- li.item(ng-repeat="d in weatherData")
	//- 	div.widgetContent
	//- 		div.itemOptions
	//- 			a.smallButton(href='project/innerDashboard/') More
	//- 			| 
	//- 			a.smallButton(href='project/editPost/{{masterPost.id}}') Edit
	//- 			| 
	//- 			a.smallButton(href='project/deletePost/{{masterPost.id}}') Delete
	//- 		h3.widgetTitle {{d.name}}
	//- 		div.line
	//- 			div.line-item.value {{d.value}}
	//- 			div.line-item.unit {{d.unit}}
	//- 			div
	//- 				//- img(src='{{d.iconSrc}}', style='background-color:white;border-radius:15px;')
	//- 				img(src='{{d.iconSrc}}', style='')
	li.item.item-to-add
		a(href='/project/addPost')
			div.widgetContent
				p Add Widget
		//- div.widgetContent
			div.itemOptions
				a.smallButton(href='project/innerDashboard/') More
				| 
				a.smallButton(href='project/editPost/{{masterPost.id}}') Edit
				| 
				a.smallButton(href='project/deletePost/{{masterPost.id}}') Delete
			h3.widgetTitle Precipitation
			div.line
				div.line-item.value 0
				div.line-item.unit mm/cm2
	//- li.item.widgetexample
	//- li.item.widgetexample2
//-  ect/0/{{toSendId.id}}', style='margin-right:5px;padding-bottom:3px;') {{toSendId.id}}
div
	h2 last read: {{last_read_id}}