//- p There are {{posts.length}} widgets
ul.list-item
	li.item.big-item(ng-repeat='masterPost in masterPosts')
		div.widgetContent
			div.itemOptions
				a.unit(href='project/readPost/{{masterPost.id}}') More
				| 
				a.unit(href='project/editPost/{{masterPost.id}}') Edit
				| 
				a.unit(href='project/deletePost/{{masterPost.id}}') Delete
			h3.widgetTitle {{masterPost.title}}
			div.line
				div.line-item.value {{masterPost.text}}
				div.line-item.unit {{masterPost.unit}}
			div.semaphoreChart
				svg(width="150px", height="60px")
					path(d="M 1 1 L 149 1 L 149 59 L 1 59 L 1 1", 
					    stroke="rgba(170, 170, 51, 0.5)", fill="#ee9", 
					    stroke-width="1")
					circle(style='stroke-width:5;stroke:rgba({{masterPost.colorRGB1}},0.25)', cx="40", cy="30", r="20", fill="{{masterPost.color1}}")
					circle(style='stroke-width:5;stroke:rgba({{masterPost.colorRGB2}},0.25)', cx="110", cy="30", r="20", fill="{{masterPost.color2}}")
	li.item(ng-repeat='post in posts')
		div.widgetContent
			div.itemOptions
				a.smallButton(href='project/readPost/{{post.id}}') More
				| 
				a.smallButton(href='project/editPost/{{post.id}}') Edit
				| 
				a.smallButton(href='project/deletePost/{{post.id}}') Delete
			h3.widgetTitle {{post.title}}
			div.line
				div.line-item.value {{post.text}}
				div.line-item.unit {{post.unit}}
			//- div.widgetChart
			//- 	div(class='bulletSvg{{post.id}}', id='bulletSvg{{post.id}}')
			//- 		//- svg(width='100', height='10')
			//- 		svg
			//- 		script(src='js/fillBulletCharts.js')
			//- above is on browser
			div.widgetChart(ng-controller='BulletCtrl')
				nvd3-bullet-chart(data='bulletData', width='100', height='10', showXAxis="false", margin="{left:5,top:0,bottom:0,right:5}", showYAxis="false", tooltips="true", interactive="false")
			//- below is through directive
			//- div(ng-controller='BulletCtrl')
			//- 	div.widgetChart(ng-repeat="bulletData in bulletDataAll")
			//- 		nvd3-bullet-chart(data='bulletData', width='100', height='10', showXAxis="false", margin="{left:5,top:0,bottom:0,right:5}", showYAxis="false", tooltips="true", interactive="false")
			div.bottomRow
				div(class='{{post.alarm}}')
					a.smallButton(href='project/readPost/{{post.id}}')
						img(src='img/alarm.png')
				div(class='{{post.notes}}')
					a.smallButton(href='project/readPost/{{post.id}}')
						img(src='img/note.png')
	//- li.item.widgetexample
	//- li.item.widgetexample2
div(style='margin:0;', class='button')
	div(ng-repeat='toSendId in toSendIds', style='float:left;')
		a(href='/project/0/{{toSendId.id}}', style='margin-right:5px;padding-bottom:3px;') {{toSendId.id}}
div
	h2 last read: {{last_read_id}}