//- p There are {{posts.length}} widgets
ul.list-item
	li.item.big-item
		div.widgetContent
			h3.widgetTitle Water Quality
			div.value Boa
	li.item(ng-repeat='post in posts')
		div.widgetContent
			h3.widgetTitle {{post.title}}
			div.value {{post.text}}
			a.unit(href='readPost/{{post.id}}') More
			| 
			a.unit(href='editPost/{{post.id}}') Edit
			| 
			a.unit(href='deletePost/{{post.id}}') Delete