//- p There are {{posts.length}} widgets
ul.list-item
	li.item.big-item
		div.widgetContent
			div.itemOptions
				a.unit(href='readPost/{{post.id}}') More
				| 
				a.unit(href='editPost/{{post.id}}') Edit
				| 
				a.unit(href='deletePost/{{post.id}}') Delete
			h3.widgetTitle Water Quality
			div.value Boa
	li.item(ng-repeat='post in posts')
		div.widgetContent
			div.itemOptions
				a.unit(href='readPost/{{post.id}}') More
				| 
				a.unit(href='editPost/{{post.id}}') Edit
				| 
				a.unit(href='deletePost/{{post.id}}') Delete
			h3.widgetTitle {{post.title}}
			div.line
				div.line-item.value {{post.text}}
				div.line-item.unit {{post.unit}}
			div.bottomRow
				div(class='{{post.alarm}}')
					a.unit(href='readPost/{{post.id}}')
						img(src='img/alarm.png')
				div(class='{{post.notes}}')
					a.unit(href='readPost/{{post.id}}')
						img(src='img/note.png')

			