h3 {{post.title}}
div {{post.text}}
div(ng-controller='ExampleCtrl')
	nvd3-line-chart(data="exampleData", width='500', height='250', showXAxis="true", showYAxis="true", tooltips="true", interactive="true")