h3 {{post.title}}
div {{post.text}}
//- div#chart(style='width:100px;height:100px;')
//- div(ng-app='sampleApp')
//- 	div(ng-controller='nvd3Test')
//- 		nvd3-pie-chart(data='data',width='550',height='350',y='yFunction()',showlabels='false')
//- 			svg
