!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Earthindicators Projects
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/app-alt.css')
    script(src='//code.jquery.com/jquery-2.0.0.min.js')
    script(src='js/lib/angular/angular.js')
    script(src='js/lib/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js')
    script(src='js/lib/jquery-ui/ui/jquery-ui.js')
    script(src='js/lib/angular-ui-calendar/src/calendar.js')


  body
    block body