div(style='margin:25px')
  ul.project-list-item(style='width:350px;display:block;margin-left:auto;margin-right:auto;')
    li.project-item(ng-repeat='project in projects')
      a(href='/project/{{project.id}}')
        div(style='padding:25px;margin: 10px 0px;width:300px;') 
          p{{project.nome}} 
          p {{project.habitantesPax}} habitantes {{project.areaHa}} km2
    li.project-item.add-project
      a(href='/projects/addProject')
        div(style='padding:25px;margin: 10px 0px;width:300px;') 
          p Add Project